Gear/Resources/plugin_v1.0.dtd

<!ELEMENT plugin (about?, instance, reference*, code+)> 
    <!ATTLIST plugin plugin_system_version CDATA "0.0">
	
    <!ELEMENT about (author+, modified_by, date_modified, description, usage, link+)>
        <!ATTLIST about version CDATA #REQUIRED>

        <!ELEMENT author (#PCDATA)>
        <!ELEMENT modified_by (#PCDATA)>
        <!ELEMENT date_modified (#PCDATA)>
        <!ELEMENT description (#PCDATA)>
        <!ELEMENT usage (#PCDATA)>
        <!ELEMENT link (#PCDATA)>

    <!ELEMENT instance (#PCDATA)> 
        <!ATTLIST instance class CDATA #REQUIRED>
    <!ELEMENT reference (#PCDATA)>
        <!ATTLIST reference name CDATA #IMPLIED>	
    <!ELEMENT code (#PCDATA)>
        <!ATTLIST code ref CDATA #IMPLIED>
        <!ATTLIST code order CDATA "-1">